/* Fonts */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Avenir Heavy;
  src: url(./assets/fonts/AvenirLTStd-Heavy.otf);
}
@font-face {
  font-family: Avenir Medium;
  src: url(./assets/fonts/AvenirLTStd-Medium.otf);
}

@font-face {
  font-family: Avenir Light;
  src: url(./assets/fonts/AvenirLTStd-Light.otf);
}
.avenir-heavy {
  font-family: Avenir Heavy;
}
.avenir-medium {
  font-family: Avenir Medium;
}
.avenir-light {
  font-family: Avenir Light;
}
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}
/* Product.css */
#root {
  width: 100%;
  max-width: 1280px;
}
/* Input Field Animations */
#search-input {
  transition:
    width 0.3s ease,
    box-shadow 0.3s ease;
}

#search-input:focus {
  width: 300px; /* Expand width on focus */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

#search-input.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10px);
  }
  40%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

button {
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

button:hover {
  background-color: #007bff;
  transform: scale(1.05);
}
.new-arrival-card,
.dashboard-card {
  box-shadow: 0px 0px 50px rgb(202, 202, 202);
  transition: all 150ms ease-in-out;
}
.new-arrival-card:hover,
.dashboard-card:hover {
  box-shadow: 0px 0px 30px rgb(202, 202, 202);
  scale: 1.03;
}
.page-container {
  max-width: 1280px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
